.git
.gitignore
.gitattributes
.env*
node_modules
storage/*.key
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/*
bootstrap/cache/*
tests
*.log
*.md
.idea
.vscode

!version.md
public/hot
meilisearch
hot

/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/.fleet
/.idea
/.nova
/.vscode
/.zed
/storage/debugbar
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log