.git
.gitignore
.gitattributes
.env*
node_modules
storage/*.key
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/*
bootstrap/cache/*
tests
*.log
*.md
.idea
.vscode

!version.md
public/hot
public/storage
